/**
 * FILEPATH: src/app/global.css
 *
 * This CSS file includes the base, components, and utilities styles from Tailwind CSS.
 *
 * @tailwind base - The base styles provided by Tailwind CSS.
 * @tailwind components - The pre-designed components provided by Tailwind CSS.
 * @tailwind utilities - The utility classes provided by Tailwind CSS.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  flex: 1;
  background-color: #241b45;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
